@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    background-color: #fff;
    height: 100%
}

h1 {
    font-weight: 400;
    font-size: 2.5rem;
    font-family: 'Kaushan Script', sans-serif;
    text-transform: capitalize;
    margin-bottom: 0.8rem;
}

h2 {
    font-weight: 800;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0;
}

#top-banner{
    display:flex;
    text-align: center;
    justify-content: center;
    height: 10vh;
}

img {
    display: block;
    height: 40vh;
    transition: all .7s ease;
}

.img-container {
    position: relative;
    text-align: center;
    color: #fff;
    overflow: hidden;
    transition: all 1s;
}

.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

img:hover {
    -webkit-filter: brightness(50%);
    transform: scale(1.6);
}

main {
    margin: auto;
}

a {
    color: #000;
    text-decoration: none;
}